img {
  width: 100%;
  height: 100%;
  background-color: white;
  min-width: 0;
}

body {
  background-color: lightgray;
}

button {
  background-color: white;
  border: none;
  color: red;
  font-weight: bold;
  padding: 0px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(211, 208, 208);
}

.container {
  max-width: 1000px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.371);
}

.images-showcase {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  gap: 20px;
  max-width: 100%;
}

.image {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.371);
}

.image-container {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  transition: 300ms;
}

.image-container:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.image-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.image-container:hover .image-checkbox {
  display: block;
}

.image-container:hover .overlay {
  cursor: grab;
}

.image-checkbox:checked {
  display: block;
}

@media (max-width: 767px) {
  .container {
    max-width: 400px;
  }
  .images-showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 700px;
  }
}
